{%extends 'blog/base.html'%}
{%load static%}
{%block title%}Blog - Sebastian Skonieczny{%endblock title%}
{%block content%}
<link rel="stylesheet" href = "{% static 'blog/style.css'%}">
<link rel="stylesheet" href = "{% static 'blog/project-card.css'%}">

<div class="container">
    <div class="row g-3">
        <h1 class="text-center text-md-start p-4">
            Recent blog posts
        </h1>
    {%for post_card in post_cards %}
    <div class="col-12 ">
    <a href="{% url 'blog:post' post_card.0.id %}" class="blogpost p-3 d-block">
            <h4>{{post_card.0.title}}</h4>
            <h5>{{post_card.2}}</h5>
            <p>{{post_card.1}}</p>
    </a>
</div>
    {%endfor%}
<footer class='row mt-5'>
    <div class='col-12 footer text-center text-md-start p-3'>
        © Sebastian Skonieczny | 2024
    </div>
</footer>
</div>
{%endblock content%}