<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    {% load static %}
    <link rel="stylesheet" href={% static 'blog/navbar.css'%}>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md">
            
            <div class='container-fluid'>
                <a href="{%url 'blog:index' %}"><img src="{% static 'blog/images/home.png' %}" class='d-inline-block me-2 align-bottom' alt="logo" width="30" height="30"></img></a>
                <button class='navbar-toggler x collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#mainmenu'
                aria-controls='mainmenu' aria-expanded='false' aria-label='navigation switch'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
                <div class='collapse navbar-collapse' id='mainmenu'>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog:projects'%}">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog:posts' %}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="" style="color:gray !important;">CV</a></li>
                    </ul>
                </div>
            </div>
            {% comment %} <h1>Sebastian Skonieczny</h1> {% endcomment %}
        </nav>
    </header>
    <main>

        {%block content%}{%endblock%}

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>